*{
    padding:0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #EFEFD0;
    flex-wrap: wrap-reverse;
}
.heading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 13rem 6rem;
    justify-content: center;
    align-items: center;
}
.headinglines{
    font-weight: bold;
    color: #004E89;
}
.image{
    height: 30%;
    width: 30%;
    padding: 6rem;
}
#lineone{
    font-size: 14rem;
    font-family: 'League Gothic', sans-serif;
}
#linetwo{
    font-family: 'Figtree', sans-serif;
    
    font-size: 5rem;
}
.aboutus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10rem;
    align-items: center;
    background-color: #FF6B34;
}
#aboutus_owasp_logo{
    width: 70%;
    height: 70%;
}
#aboutusright{
    font-family: 'Figtree',sans-serif;
    font-size: 2rem;
}
.gitstats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10rem; 
    background-color: black;
}
.stats{
    height: 320px;
    width: 320px;
    border-radius: 40px;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2em;
}
#stats_two_logo{
    height: 10em;
    width: 10em;
}