{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <div class="heading">
        <p id="lineone" class="headinglines">OWASP</p>
        <p id="linetwo" class="headinglines">Projects Dashboard</p>
    </div>
    <div class="image">
        <img src="{{ url_for('static', filename='images/github.svg') }}" alt="Github Logo">
    </div>
</div>
<div class="aboutus">
    <div class="aboutusbox" id="aboutusleft"><img src="{{ url_for('static', filename='images/owasp-full-black.svg') }}" alt="OWASP Logo" id="aboutus_owasp_logo"></div>
    <div class="aboutusbox" id="aboutusright">Behold the masterpieces from our brilliant contributors, a spectacular collection of ongoing projects directly fetched from Github. Be amazed by the relentless commits, issues, and pull requests!</div>
</div>


{% endblock %}