{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

<header>
    <div class="navbar">
        <div class="heading">Intra Sociey Hackathon</div>
        <div class="navbtn">
            <ul class="navbtn">

                <a href="/">
                    <li class="btn" id="homebtn">Home</li>
                </a>
                <a href="/">
                    <li class="btn" id="aboutbtn">About <br> Project</li>
                </a>
                <a href="/">
                    <li class="btn" id="contactbtn">Contact <br> Us</li>
                </a>

            </ul>
        </div>
        <div class="login">
            <ul>

                <li class="btn" id="loginbtn">Login</li>

            </ul>
        </div>
        
    </div>
</header>


{% endblock %}